@import '../styles/variables.scss';

@media (width >= 850px) {
    .grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr) !important;
        margin: 1dvh 1dvh;
    }
}

@media (width <= 850px) {
    .card {
        display: flex;
        flex-direction: column !important;
        justify-content: center;
        text-align: center;
        align-items: center;
        margin: 1dvh 1dvh;
    }
}