@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

$primaryWhite: #FFFFFF;
$secondaryWhite: #F6F7F8;
$black: #000000;
$red: #FF3131;
$green: #54CC0A;